/* general styles */

/* (https://materializecss.com/footer.html) */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* */

/* Home section */

.header-section{
    width: 1500px;
    height: 800px;
    position: relative;
}

.hero-image{
    width: 1500px;
    height: 700px;
    position: absolute;
    object-fit: cover;
}